version: '3.1'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: docker
      POSTGRES_USER: docker
    volumes:
      - ./scripts/postgres/:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
